@media (max-width: 950px) {
    .code{
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .skills_items {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 740px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 18px;
        line-height: 20px;
    }

    .header_content-language {
        font-size: 16px;
    }

    .header_content-name {
        line-height: 42px;
    }
}

@media (max-width: 700px){
    .code{
        font-size: 10px;
    }
}

@media (max-width: 580px) {

    .header_content-inner {
        padding: 15px 0 40px;
        flex-direction: column;
        align-items: center;
    }

    .header_content-language {
        transform: none;
        margin-bottom: 25px;
    }

    h1,
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 42px;
        line-height: 40px;
    }

    .header_content-name {
        line-height: 34px;
    }

    h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .header_content-language {
        font-size: 14px;
    }

    .menu {
        padding: 5px 0px 15px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin-bottom: 3px;
    }

    .about_inner {
        padding: 90px 30px 70px;
    }

    .contacts_inner {
        padding: 95px 0 100px;
    }

    .code{
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    .about_inner {
        padding: 85px 30px 70px;
    }

    .skills_inner {
        padding: 60px 30px 15px;
    }
}

@media (max-width: 370px) {

    .contacts_social {
        padding: 0 50px;
    }
}